.all--products {
    margin: 0 auto;
    padding:  4rem 0;
    width: 80%;
}

.all--products__header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.all--products__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .all--products {
        width: 90%;
    }

    .all--products__header {
        font-size: 1.5rem;
    }
}