.main__login {
  background-color: var(--light-grey);
  padding: 5.6875rem 0;
}

.main__login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}

.main__login__button {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1.125rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.main__login__button:hover {
  background-color: var(--light-blue);
}

.main__login__error {
  align-self: flex-start;
  color: var(--red);
  font-size: .825rem;
  margin-top: -1.375rem;
}

@media (max-width: 768px) {
  .main__login__container {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .main__login__container {
    width: 75%;
  }
}
