.main__edit {
  background-color: var(--light-grey);
  padding: 4rem 0;
}

.main__edit__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 80%;
}

.main__edit__title {
  font-size: 2rem;
}

.main__edit__image {
  align-self: center;
  width: 40%;
}

.main__edit__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__edit__error {
  color: var(--red);
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: -0.875rem;
}
