.product__list {
  margin: 4rem auto;
  width: 80%;
}

.product__list__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product__list__title {
  font-size: 2rem;
  font-weight: bold;
}

.product__list__link {
  align-items: center;
  color: #2a7ae4;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.75rem;
}
