.product__list {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
}

.product__list__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product__list__title {
  font-size: 2rem;
  font-weight: bold;
}

.product__list__link {
  align-items: center;
  color: #2a7ae4;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.75rem;
}

.product__list__content {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.product__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__item__image {
  width: 100%;
}

.product__item__title {
  font-size: 0.875rem;
  font-weight: 500;
}

.product__item__price,
.product__item__link {
  font-size: 1rem;
  font-weight: bold;
}

.product__item__link {
  color: #2a7ae4;
}

@media (max-width: 768px) {
  .product__list {
    width: 90%;
  }

  .product__item:nth-child(5),
  .product__item:nth-child(6) {
    display: none;
  }
}

@media (max-width: 468px) {
  .product__list__content {
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
  }

  .product__item {
    margin-bottom: 1rem;
    width: 47.5%;
  }
}
