.main__banner__content {
  color: #fff;
  margin: 0 auto;
  padding: 9.375rem 0;
  width: 80%;
}

.main__title {
  font-size: 3.25rem;
  margin-bottom: 1rem;
}

.main__subtitle {
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.main__button {
  background-color: #2a7ae4;
  color: #fff;
  padding: 1rem;
}

.main__button:hover {
  background-color: #5595e9;
}
