.product__container {
  width: 15%;
}

.product__miniature {
  width: 100%;
}

.product__image--container {
  position: relative;
}

.product__icons {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
}

.product__content {
  margin-top: 0.5rem;
}

.product__title,
.product__price {
  margin-bottom: 0.5rem;
}

.product__title,
.product__tag {
  font-size: 0.875rem;
}

.product__price {
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .product__container {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .product__container {
    width: 25%;
  }
}

@media (max-width: 400px) {
  .product__container {
    width: 45%;
  }
}
