header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.34375rem 0;
  width: 80%;
}
.header__container {
  align-items: center;
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
}

.header__search {
  background-color: var(--light-grey);
  border: none;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  padding: 0.75rem 0.625rem;
  width: 200%;
}

.header__search__container {
  position: relative;
}

.header__search__icon {
  display: none;
}

.header__search::placeholder {
  color: var(--grey);
}

.header__search:focus {
  outline: none;
}

.header__search__span {
  background-color: var(--light-grey);
  border-radius: 0 0 1.25rem 1.25rem;
  display: flex;
  position: absolute;
  left: 1rem;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 1rem;
  width: 181%;
}

@media (max-width: 950px) {
  header {
    width: 90%;
  }

  .header__container {
    gap: 1rem;
  }

  .header__logo {
    margin-right: -3rem;
    width: 70%;
  }

  .header__search {
    width: 135%;
  }

  .header__search__span {
    width: 115%;
  }

  .header__login {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem 0;
  }
}

@media (max-width: 600px) {
  header {
    justify-content: space-between;
    gap: 1.7rem;
  }

  .header__logo {
    width: 100%;
  }

  .header__search {
    display: none;
  }

  .header__search__icon {
    display: block;
  }
}
