footer {
  background-color: var(--lighter-blue);
  bottom: 0;
  width: 100%;
}

.footer__container {
  align-items: flex-start;
  display: flex;
  gap: 3.875rem;
  margin: 0 auto;
  padding: 4rem 0;
  width: 80%;
}

.footer__content {
  align-items: flex-start;
  display: flex;
  gap: 7rem;
  width: 50%;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.footer__form--title {
  font-size: 1rem;
}

.form__button {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  padding: 1.5rem;
  transition: all ease 0.3s;
}

.form__button:hover {
  background-color: var(--light-blue);
}

.footer__copyright {
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}

.footer__copyright--title {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1300px) {
  .footer__content {
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .footer__container {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .footer__container {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__content {
    align-items: center;
    width: 100%;
  }

  .footer__form {
    width: 100%;
  }
}
