* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

div,
section,
article,
aside,
header,
footer,
nav,
ul,
li,
figure,
figcaption,
img,
video,
audio,
button,
input,
textarea,
select,
option,
form {
  display: block;
  margin: 0;
  padding: 0;
}
